

body{
    background-color:#FFCAE3;
    
}



.title{
    font-family: Century;
    font-size: 30px;
}

.btn{
    border: 3px solid rgba(100, 100, 100, 0,1);
    margin-bottom: 20px;
    padding: 20px;
    width: 300px;
    font-size: 18px;
    font-family: cursive;
    border-radius: 20px;
    cursor: pointer;
    background-size: 300%;
}

.btn1{
    background-image: linear-gradient(to left, #ffb6b6, #f84242, #ffb6b6);
    
}

.btn2{
    background-image: linear-gradient(to left, #EDC4DD, #772D6B, #EDC4DD);
}

.btn3{
    background-image: linear-gradient(to left, #FFCAE3, #FF499D, #FFCAE3);
}

.btnSi{
    background-image: linear-gradient(to left, #EDC4DD, #772D6B, #EDC4DD);
}

.btnNo{
    background-image: linear-gradient(to left, #FFCAE3, #FF499D, #FFCAE3);
}

img{
    border-radius: 90px;
    height: 300px;
}


